<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Model Deployment</title>
</head>
<body>
    <h1>Model Deployment</h1>
    <p>
        ENTER YOUR NAME
    </p>
    <form action="/predict" method="POST">
    <input type="text" name="fixed_acidity" placeholder="Fixed Acidity"><br>
    <input type="text" name="volatile_acidity"  placeholder="Volatile Acidity"><br>
    <input type="text" name="citric_acid" placeholder="Citric Acid"><br>
    <input type="text" name="residual_sugar" placeholder="Residual Sugar"><br>
    <input type="text" name="chlorides" placeholder="Chlorides"><br>
    <input type="text" name="free_sulfur_dioxide"  placeholder="Free Sulfur Dioxide" ><br>
    <input type="text" name="total_sulfur_dioxide"  placeholder="Total Sulfur Dioxide"><br>
    <input type="text" name="density" placeholder="Density"><br>
    <input type="text" name="pH" placeholder="pH"><br>
    <input type="text" name="sulphates" placeholder="Sulphates" ><br>
    <input type="text" name="alcohol" placeholder="Alcohol"><br>
    class: {{wineq}} <br>
    <input type="submit" value="Predict"><br>
    </form>

    



</body>
</html>